{% extends 'layout.html' %}

{% block content %}
  <form id="profile-modify" action="/profile/profile-modify" method="post">
    <div class="input-group">
      <label for="profile-nick">닉네임</label>
      <input id="profile-nick" type="text" name="nick">
    </div>
    <button id="profile-btn" type="submit" class="btn">프로필수정</button>
  </form>
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}